@if (IsShow)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@FormTitle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Hide">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="nav-wizards-container">
                        <nav class="nav nav-wizards-3 mb-2">
                            <!-- completed -->
                            <div class="nav-item col">
                                <a class="nav-link completed" href="#">
                                    <div class="nav-dot"></div>
                                    <div class="nav-text">
                                        Mary Kim
                                        <br /><span class="badge bg-success">3/3/2021</span>
                                    </div>
                                </a>
                            </div>

                            <!-- active -->
                            <div class="nav-item col">
                                <a class="nav-link completed" href="#">
                                    <div class="nav-dot"></div>
                                    <div class="nav-text">
                                        Jason Woo
                                        <br /><span class="badge bg-success">3/4/2021</span>
                                    </div>
                                </a>
                            </div>

                            <!-- disabled -->
                            <div class="nav-item col">
                                <a class="nav-link active" href="#">
                                    <div class="nav-dot"></div>
                                    <div class="nav-text">
                                        Steven Hong
                                        <br /><span class="badge bg-danger">Pending</span>
                                    </div>
                                </a>
                            </div>

                            <div class="nav-item col">
                                <a class="nav-link disabled" href="#">
                                    <div class="nav-dot"></div>
                                    <div class="nav-text">T.H. Lee</div>
                                </a>
                            </div>

                        </nav>
                    </div>

                    <EditForm Model="Model" OnValidSubmit="CreateOrEditClick">
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                        <ValidationSummary></ValidationSummary>
                        @if (Model.Id != 0)
                        {
                            <div class="form-group">
                                <label for="txtId">Id: @Model.Id</label>
                                <input type="hidden" @bind-value="@Model.Id" />
                            </div>
                        }

                        <div class="card">
                            <div class="card-body">
                                <div class="card-group">
                                    <div class="card border-0 m-2">
                                        <div class="form-group">
                                            <label for="txtName" class="fs-12px text-muted mb-1"><b>부서</b></label>
                                            <InputText id="txtName" class="form-control" placeholder="Sales"
                                                       @bind-Value="@Model.Name"></InputText>
                                            <ValidationMessage For="@(()=>Model.Name)" class="form-text text-muted"></ValidationMessage>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtName" class="fs-12px text-muted mb-1"><b>팀</b></label>
                                            <InputText id="txtTitle" class="form-control" placeholder="Team 1A"
                                                       @bind-Value="@Model.Title"></InputText>
                                            <ValidationMessage For="@(()=>Model.Title)" class="form-text text-muted"></ValidationMessage>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtName" class="fs-12px text-muted mb-1"><b>작성자</b></label>
                                            <InputText id="txtName" class="form-control disabled" placeholder="Mary Kim"
                                                       @bind-Value="@Model.Name"></InputText>
                                            <ValidationMessage For="@(()=>Model.Name)" class="form-text text-muted"></ValidationMessage>
                                        </div>

                                    </div>
                                    <div class="card border-0 m-2">
                                        <div class="form-group">
                                            <label for="txtName" class="fs-12px text-muted mb-1"><b>작성일</b></label>
                                            <InputText id="txtName" class="form-control" placeholder="3/2/2021"
                                                       @bind-Value="@Model.Name"></InputText>
                                            <ValidationMessage For="@(()=>Model.Name)" class="form-text text-muted"></ValidationMessage>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtName" class="fs-12px text-muted mb-1"><b>상신일</b></label>
                                            <InputText id="txtName" class="form-control" placeholder="3/3/2021"
                                                       @bind-Value="@Model.Name"></InputText>
                                            <ValidationMessage For="@(()=>Model.Name)" class="form-text text-muted"></ValidationMessage>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtName" class="fs-12px text-muted mb-1"><b>최종결재일</b></label>
                                            <InputText id="txtName" class="form-control" placeholder="3/4/2021"
                                                       @bind-Value="@Model.Name"></InputText>
                                            <ValidationMessage For="@(()=>Model.Name)" class="form-text text-muted"></ValidationMessage>
                                        </div>
                                    </div>
                                    <div class="card border-0 m-2">
                                        <div class="form-group">
                                            <label for="txtName" class="fs-12px text-muted mb-1"><b>바이어</b></label>
                                            <InputSelect @bind-Value="@parentId" class="form-control" id="lstCategory">
                                                <option value="">-- Select --</option>
                                                @foreach (var p in parentIds)
                                                    {
                                                    <option value="@p" selected>Express</option>
                                                    }
                                            </InputSelect>
                                            <ValidationMessage For="@(()=> parentId)" class="form-text text-muted"></ValidationMessage>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtName" class="fs-12px text-muted mb-1"><b>거래처</b></label>
                                            <InputSelect @bind-Value="@parentId" class="form-control" id="lstCategory">
                                                <option value="">-- Select --</option>
                                                @foreach (var p in parentIds)
                                                    {
                                                    <option value="@p" selected>A.T.IMPRESORA, S. A.</option>
                                                    }
                                            </InputSelect>
                                            <ValidationMessage For="@(()=> parentId)" class="form-text text-muted"></ValidationMessage>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button collapsed fs-12px text-muted" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                                첨부파일 #1
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <a href="#" class="text-decoration-none">첨부파일#1.pdf</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed fs-12px text-muted" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                                첨부파일 #2
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <a href="#" class="text-decoration-none">첨부파일#2.xlsx</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed fs-12px text-muted" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                                                첨부파일 #3
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <a href="#" class="text-decoration-none">첨부파일#3.jpg</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group mt-2">
                                    <label for="txtName" class="fs-12px text-muted mb-1"><b>비고 및 반려사유 등</b></label>
                                    <InputTextArea id="txtContent" class="form-control" placeholder="" rows="5"
                                                   @bind-Value="@Model.Content"></InputTextArea>
                                    <ValidationMessage For="@(()=>Model.Content)" class="form-text text-muted"></ValidationMessage>
                                </div>

                                <div class="form-group mt-2">
                                    <button type="submit" class="btn btn-primary">승인</button>
                                    <button type="button" class="btn btn-danger">반려</button>
                                    <button type="button" class="btn btn-secondary" @onclick="Hide">취소</button>
                                </div>
                            </div>
                        </div>

                    </EditForm>
                </div>
            </div>
        </div>

    </div>
}
else
{

}