@page "/Boards/Notices"
@page "/Boards/Notices/Index"

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">HOME</a></li>
    <li class="breadcrumb-item">BOARDS</li>
    <li class="breadcrumb-item active">NOTICE</li>
</ul>

<h1 class="page-header">
    Notice <small>사내 공지사항</small>
</h1>

<div class="row">
    <div class="col-md-12">
        <AuthorizeView>
            <Authorized>

            </Authorized>
            <NotAuthorized>

                @if (models == null) { 
                    <p><em>Loading...</em></p>
                    <div>
                        <MatProgressBar Indeterminate="true"></MatProgressBar>
                    </div>
                }
                else
                {
                <!-- BEGIN #responsiveTables -->
                <div id="responsiveTables" class="mb-5">
                    <div class="card">
                        <div class="card-header">
                            <a href="/Boards/Notices/Create" class="btn btn-primary">Create</a>
                            <a href="/Boards/Notices/Manage" class="btn btn-primary">Manage</a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive table-hover">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Title</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Created</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var m in models)
                                                {
                                                    <tr>
                                                        <td scope="row" class="text-dark">@m.Id</td>
                                                        <td @onclick="@(()=> NameClick(m.Id))">
                                                            <a href="/Boards/Notices/Details/@m.Id" class="text-dark">
                                                                @m.Title
                                                            </a>
                                                        </td>
                                                        <td>@m.Name</td>
                                                        <td>@m.Created?.ToShortDateString()</td>
                                                        <td>
                                                            <a href="/Boards/Notices/Details/@m.Id" class="btn btn-light">Details</a>
                                                            <a href="/Boards/Notices/Edit/@m.Id" class="btn btn-light">Edit</a>
                                                            <a href="/Boards/Notices/Delete/@m.Id" class="btn btn-danger">Delete</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <BeanyPager.BeanyPagerComponent Model="pager" PageIndexChanged="PageIndexChanged"></BeanyPager.BeanyPagerComponent>
                                </div>
                                <div class="col-md-12">
                                    <Intsa.Pages.Boards.Notices.Components.SearchBox 
                                               placeholder="Search ..." 
                                               SearchQueryChanged="Search">
                                    </Intsa.Pages.Boards.Notices.Components.SearchBox>
                                </div>

                            </div>

                            
                        </div>

                     </div>
                </div>
                <!-- END #responsiveTables -->
                }

            </NotAuthorized>
        </AuthorizeView>
        <AuthorizeView Roles="Administrators, Managers">
            <a href="/Boards/Notices/Manage" class="btn btn-primary">Manage</a>
        </AuthorizeView>
    </div>

</div>