@page "/Systems/CostCenter"
@page "/Systems/CostCenter/Index"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using System.ComponentModel.DataAnnotations
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DropDowns

<h1 class="page-header mb-3">
    Cost Center
    <small>비용센터 관리</small>
</h1>


<SfGrid ID="Grid" @ref="DefaultGrid" DataSource="@Centers" AllowPaging="true" AllowSorting="true" AllowFiltering="true" Height="100%" Width="100%"
        Toolbar="Toolbaritems" AllowExcelExport="true" ContextMenuItems="ContextMenuitems">
    <GridEvents OnActionBegin="OnActionBegin" OnToolbarClick="ToolbarClickHandler" RowSelected="RowSelectHandler" TValue="CostCenter"></GridEvents>
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog"></GridEditSettings>
    <GridPageSettings PageSize="22"></GridPageSettings>
    <GridFilterSettings>
        <GridFilterColumns>
            <GridFilterColumn Field="CustomerID" MatchCase="false" Operator="Syncfusion.Blazor.Operator.StartsWith" Predicate="and" Value="@val"></GridFilterColumn>
        </GridFilterColumns>
    </GridFilterSettings>
    <GridColumns>
        <GridColumn Field=@nameof(CostCenter.ID) HeaderText="Order ID" IsPrimaryKey="true" TextAlign="TextAlign.Left" Width="120"></GridColumn>
        <GridColumn Field=@nameof(CostCenter.CustomerID) HeaderText="Type" EditType="EditType.DropDownEdit" EditorSettings="@CustomerIDEditParams" Width="150"></GridColumn>
        <GridColumn Field=@nameof(CostCenter.Center) HeaderText="Center" TextAlign="TextAlign.Left" EditType="EditType.DropDownEdit" EditorSettings="@CenterIDEditParams" Width="120"></GridColumn>
        <GridColumn Field=@nameof(CostCenter.Created) HeaderText="Create Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="130"></GridColumn>
    </GridColumns>
</SfGrid>

<SfDialog @ref="Dialog" Width="250px" Visible="false" ShowCloseIcon="true" IsModal="true">
    <DialogEvents Closed="Closed"></DialogEvents>
    <DialogTemplates>
        @*Here you can customize the Header and Content of delete confirmation dialog*@
        <Header> Delete Record</Header>
        <Content> You are about to Delete a Record @SelectedData ?</Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton OnClick="@OkClick">
            <DialogButtonModel Content="OK" IsPrimary="true"></DialogButtonModel>
        </DialogButton>
        <DialogButton OnClick="@CancelClick">
            <DialogButtonModel Content="Cancel"></DialogButtonModel>
        </DialogButton>
    </DialogButtons>
</SfDialog>

<style>
    .e-click::before {
        content: '\e525';
    }
</style>

@code {

    private SfGrid<CostCenter> DefaultGrid;
    private SfDialog Dialog;
    public object SelectedData;
    public bool flag = true;
    public void Closed()
    {
        flag = true;
    }

    public void OnActionBegin(ActionEventArgs<CostCenter> Args)
    {
        if (Args.RequestType.ToString() == "Delete" && flag)
        {
            Args.Cancel = true;  //cancel default delete action
            Dialog.Show();
            flag = false;
        }
        else if (Args.RequestType.ToString() == "Excel Export")
        {
            this.DefaultGrid.ExcelExport();
        }
    }
    public void RowSelectHandler(RowSelectEventArgs<CostCenter> Args)
    {
        SelectedData = Args.Data.ID ;
    }
    private void OkClick()
    {
        DefaultGrid.DeleteRecord();   //delete the record programatically while clikcing OK button
        Dialog.Hide();
    }
    private void CancelClick()
    {
        Dialog.Hide();
    }

    public List<CostCenter> Centers { get; set; }
    public string val = "";
    private List<Object> Toolbaritems = new List<Object>() {  "Add", "Edit", "Delete", "ExcelExport", "Search",
        new ItemModel() { Text="Transfer", TooltipText = "Transfer", PrefixIcon = "e-click", Id="Transfer" } };

    private List<Object> ContextMenuitems = new List<Object> { "FirstPage", "PrevPage", "LastPage", "NextPage" };

    protected override void OnInitialized()
    {
        Centers = Enumerable.Range(1, 25).Select(x => new CostCenter()
        {
            ID = 1000 + x,
            CustomerID = (new string[] { "INT", "Others" })[new Random().Next(2)],
            Center = (new string[] { "Head Office", "INT Sewing Plant I", "JS International", "Development", "JS Warehouse", "Recepsa Warehouse", "People & Arts", "Apparel Links" })[new Random().Next(8)],
            Created = DateTime.Now.AddDays(-x),
        }).ToList();
    }

    public IEditorSettings CustomerIDEditParams = new DropDownEditCellParams
    {
        Params = new DropDownListModel<object, object>() { DataSource = LocalDataCustomer, AllowFiltering = true }
    };
    public IEditorSettings CenterIDEditParams = new DropDownEditCellParams
    {
        Params = new DropDownListModel<object, object>() { DataSource = LocalDataCenter, AllowFiltering = true }
    };


    public class CostCenter
    {
        [Key]
        [Required(ErrorMessage = "ID should not be empty")]
        [Display(Name = "ID")]
        public int? ID { get; set; }
        [Display(Name = "Type")]
        [Required(ErrorMessage = "Field should not be empty")]
        public string CustomerID { get; set; }
        [Display(Name = "Center")]
        public string Center { get; set; }
        [DataType(DataType.Date)]
        [Display(Name = "Created Date")]
        [Editable(false)]
        public DateTime? Created { get; set; }
    }

    public async Task ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "Grid_excelexport")
        {
            await this.DefaultGrid.ExcelExport();
        }
        else if (args.Item.Id == "Transfer")
        {
            //You can customized your code here....

        }
    }

    public static List<CostCenter> LocalDataCustomer = new List<CostCenter> {
            new CostCenter() { CustomerID= "INT" },
            new CostCenter() { CustomerID= "Others" },
    };

    public static List<CostCenter> LocalDataCenter = new List<CostCenter> {
            new CostCenter() { Center= "Head Office" },
            new CostCenter() { Center= "INT Sewing Plant I" },
            new CostCenter() { Center= "JS International" },
            new CostCenter() { Center= "Development" },
            new CostCenter() { Center= "JS Warehouse" },
            new CostCenter() { Center= "Recepsa Warehouse" },
            new CostCenter() { Center= "People & Arts" },
            new CostCenter() { Center= "Apparel Links" },
    };
}
